body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.section-title .accent {
  color: #fd9222;
}

/* ===== header ===== */

.header {
  padding: 28px 0;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-nav {
}

.header-list {
}

.header-item {
}

.header-link {
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.menu-link:hover {
  color: #fd9222;
}

/* ====== hero ===== */

.hero {
  background-color: #1e1823;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-wrapper {
  padding: 380px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btn {
  background-color: #fd9222;
  /* transition-duration: 500ms; */
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
  /* transform: rotate(360deg); */
}

.hero-anchor-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
}

.hero-anchor-link:hover,
.hero-anchor-link:active {
  background-color: #fafafa;
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-scroll-link:hover,
.hero-scroll-link:active {
  color: #fd9222;
}

/* ====== features ===== */

.features {
  background-color: #1e1823;
  padding: 50px 0;
}

.features-list {
  display: flex;
  gap: 70px;
}

.features-item {
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ====== taste ===== */

.taste {
  padding: 100px 0;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
}

.taste-item:first-child {
  background-color: #fd9222;
}

.taste-item:last-child {
  background-color: #1e1823;
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* ====== made ===== */

.made {
  padding-bottom: 100px;
}

.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ====== reviews ===== */

.reviews {
  padding-bottom: 100px;
}

.reviews-title {
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
}

.reviews-image {
  margin-bottom: 18px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-subtitle-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
}

.reviews-btn:hover,
.reviews-btn:active {
  background-color: #fd9222;
  color: #fff;
}

/* ====== footer ====== */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-title .accent {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-address {
}

.footer-list {
}

.footer-item {
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  color: #fd9222;
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  color: #fff;
}
